body{
    background-color: white;
}


#header
{
 background-color: #222222; 
    
}
.menu-container {
    width: 250px;
    padding: 20px;
    background-color: #8fb089; 
    border-radius: 15px;
    margin: 170px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
   
}


.menu-container button {
    padding: 15px;
    font-size: 16px;
    background-color: #ebe8e8; 
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-container button:hover {
    background-color: #6beeb1;
}
